<ion-content padding class="login-page" scroll="false">
  
  <img class="icon" src="../../assets/icon/login-icon.png" />
  <div class="row form-box">
    <form [formGroup]="loginForm" (submit)="loginUser()">

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <button ion-button class="login-button" type="submit">
        Acceder
      </button>

    </form>
  </div>
</ion-content>
