<ion-header>
    <ion-navbar color="primary">
        <ion-title>Historial</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list *ngFor="let fechaEntrega of orders" >
        <ion-item-group *ngIf="fechaEntrega.date" >
            <ion-item-divider color="secondary">
                {{fechaEntrega.date | date:'d/MM/yy'}}
            </ion-item-divider>

            <button ion-item *ngFor="let order of fechaEntrega.order" (click)="itemTapped($event, order)">
                {{order.$key}}
            </button>
            

        </ion-item-group>
    </ion-list>


</ion-content>