<ion-header>
    <ion-navbar color="primary">
        <ion-title>Historial</ion-title>
        
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

<!--    <ion-list >
        <ion-item-group *ngFor="let item of orders">
            <ion-item-divider color="secondary">
                {{item.fechaEntrega}}
            </ion-item-divider>

            <button ion-item *ngFor="let  of collection"  (click)="event-handler()">text</button>
            

        </ion-item-group>
    </ion-list>-->

    <ion-list>
        <ion-item *ngFor="let pack of orders | async" (click)="showOptions(pack.$key, pack.direccion)">
            {{pack.direccion}}
         </ion-item>
    </ion-list>


</ion-content>