<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{order.id}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list >
            <ion-item-divider color="secondary" >Información Destino</ion-item-divider>
                <ion-row>
                    <ion-col width-70>
                        <p>Destino: {{order.destino}}</p>
                        <p>DNI: {{order.dni}}</p>
                        <p>Dirección: {{order.direccion}}</p>
                        <p>Teléfono: {{order.telf}}</p>
                    </ion-col>
                    <ion-col width-30 text-right>
                        <button ion-button icon-only outline (click)="goToMap()">
                            <ion-icon name="map"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>    
            <ion-item-divider color="secondary" >Información Paquete</ion-item-divider>
            <p>Empresa: {{order.empresa}}</p>
            <p>Fecha de Entrada al Almacén: {{order.fechaEntradaAlmacen | date:'d/M/yy'}} {{order.fechaEntradaAlmacen | date:'shortTime'}}</p>
            <p>Número de Paquetes: {{order.numPaquetes}}</p>
            <p>Peso: {{order.peso}}</p>
            <p>Dimensiones: {{order.dimensiones}}</p>
    </ion-list>

</ion-content>