<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{deliverer.nombre}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list >
        <ion-item-divider color="secondary" >Información del repartidor</ion-item-divider>

        <p>DNI: {{deliverer.dni}}</p>

        <ion-item-divider color="secondary" >Paquetes asignados</ion-item-divider>
           
        <ion-list >
            <ion-item *ngFor="let order of orders"  (click)="goToOrder($event, order)" >
                <p>{{order.$key}}</p>
                <br>
                <p>{{order.direccion}}</p>
            </ion-item>
        </ion-list>

    </ion-list>

    <ion-card *ngIf="!deliverer.coche">
        <ion-card-content>
            <ion-slides pager>
                <ion-slide *ngFor="let vehicle of vehicles" (click)="addCar($event, vehicle)" >
                    <p>Matricula: {{vehicle.matricula}}</p>
                    <p>Modelo: {{vehicle.modelo}}</p>
                    <br>
                </ion-slide>
            </ion-slides>   
        </ion-card-content>
    </ion-card>

    <button *ngIf="deliverer.coche" ion-button full (click)="removeCar()" >
        Desasignar vehículo
    </button>

</ion-content>
