<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{deliverer.nombre}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-9>
            <ion-list >
                <ion-item-divider color="secondary" >Información del repartidor</ion-item-divider>
                <p>DNI: {{deliverer.dni}}</p>
                <p>Número de paquetes asignados: {{deliverer.numPedidos}}</p>
                <p>Disponibilidad: <ion-badge [color]="getCorrectColor(deliverer)">{{deliverer.disponibilidad}}</ion-badge></p>
                <p *ngIf="deliverer.coche">Coche asignado: {{deliverer.coche}}</p>
                <p *ngIf="!deliverer.coche">Coche asignado: Ninguno</p>
                <p *ngIf="deliverer.sigDireccion">Siguiente Dirección de reparto: {{deliverer.sigDireccion}}</p>

                <ion-item-divider color="secondary" >Paquetes seleccionados</ion-item-divider>
                
                <ion-list >
                    <ion-item *ngFor="let order of orders"  (click)="goToOrder($event, order)" >
                        <p>{{order.idPaquete}}</p>
                        <br>
                        <p>{{order.direccion}}</p>
                    </ion-item>
                </ion-list>
            </ion-list>
        </ion-col>

        <ion-col col-3>
            <ion-card>
                <img src={{deliverer.imagen}} style="width:100%; max-height:auto"/>
            </ion-card>
        </ion-col>
    </ion-row>

    <ng-container *ngIf="deliverer.coche; else elseBlock">
        <ion-card class="map-page" *ngIf="deliverer.horaCapturaGPS">
            <agm-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" >
                <agm-marker [latitude]="map.lat" [longitude]="map.lng">
                    <agm-info-window>
                        <strong>{{map.markerLabel}}</strong>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </ion-card>
        <br>
        <button  ion-button full (click)="removeCar()">
            Desasignar vehículo
        </button>
    </ng-container>
    
    <ng-template #elseBlock>
        <ion-card>
            <ion-list>
                <ion-item *ngFor="let vehicle of vehicles" (click)="addCar($event, vehicle)" >
                    <ion-avatar item-left>
                        <img src={{vehicle.imagen}}>
                    </ion-avatar>
                    <h2>{{vehicle.matricula}}</h2>
                    <p>{{vehicle.modelo}}</p>
                </ion-item>
            </ion-list>
        </ion-card>
    </ng-template>
</ion-content>
