<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle item-left>
            <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm *ngFor="let item of packs"  >

                <ion-card>
                    <ion-card-header>
                        <p>{{item.id}}</p>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{item.desc}}</p>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>    

</ion-content>