<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle item-left>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Home</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="newPackage()" >
                <ion-icon name="barcode"></ion-icon>
            </button>
       </ion-buttons>

    </ion-navbar>

     <ion-toolbar no-border-top>
        <ion-segment secondary [(ngModel)]="orderFilter">
            <ion-segment-button value="notAssigned">
                Sin Asignar
            </ion-segment-button>
            <ion-segment-button value="assigned">
                Asignados
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="orderFilter" >
        <ion-grid *ngSwitchCase="'notAssigned'">
            <ion-row >
                <ng-container *ngFor="let item of orders | async">
                    <ion-col col-sm-4 col-md-6 col-lg-4 col-xl-3 *ngIf="!item.repartidor">

                        <ion-card (click)="goToOrder($event, item)" >
                            <ion-card-header>
                                {{item.$key}}
                            </ion-card-header>
                            
                            <ion-card-content>
                                <ion-row>
                                    <ion-col col-10>
                                        <h2>Rem: {{item.remitente}}</h2>
                                        <p>Paquetes: {{item.numPaquetes}}</p>
                                        <p>Peso: {{item.peso}}</p>
                                        <p>Fech. Entrada: {{item.fechaEntradaAlmacen | date:'d/MM/yy'}} - {{item.fechaEntradaAlmacen | date:'shortTime'}}</p>
                                    </ion-col>

                                    <ion-col col-2>
                                        <ion-buttons end>
                                            <button ion-button icon-only outline *ngIf="item.urgente">
                                                <ion-icon name="alert"></ion-icon>
                                            </button>
                                        </ion-buttons>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>

                </ion-col>
                </ng-container>
                
            </ion-row>
        </ion-grid>

        <ion-grid *ngSwitchCase="'assigned'">
            <ion-row>
                <ion-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 *ngFor="let item of orders | async" >

                        <ion-card (click)="goToOrder($event, item)" *ngIf="item.repartidor && !item.fechaEntrega">
                            <ion-card-header>
                                {{item.$key}}
                            </ion-card-header>
                            
                            <ion-card-content>
                                <ion-row>
                                    <ion-col col-10>
                                        <h2>Rem: {{item.remitente}}</h2>
                                        <p>Paquetes: {{item.numPaquetes}}</p>
                                        <p>Peso: {{item.peso}}</p>
                                        <p>Fech. Entrada: {{item.fechaEntradaAlmacen | date:'d/MM/yy'}} - {{item.fechaEntradaAlmacen | date:'shortTime'}}</p>
                                    </ion-col>

                                    <ion-col col-2>
                                        <ion-buttons end>
                                            <button ion-button icon-only outline *ngIf="item.urgente">
                                                <ion-icon name="alert"></ion-icon>
                                            </button>
                                        </ion-buttons>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>

                </ion-col>
            </ion-row>
        </ion-grid>
        
    </div>
        

</ion-content>