<ion-header>
    <ion-navbar color="primary">
        <ion-title>Repartidores</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goDelivererLocation()">
                <ion-icon name="locate"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngFor="let deliveryMan of deliveryMen">

                    <ion-card (click)="goToDeliverer($event, deliveryMan)">
                        <ion-item>
                            <ion-avatar item-left>
                                <img src={{deliveryMan.imagen}}>
                            </ion-avatar>
                            <ion-card-header>
                                <b>{{deliveryMan.nombre}}</b>
                            </ion-card-header>
                        </ion-item>

                        <ion-row>
                            <ion-col col-10>
                                <ion-card-content>
                                    <p><b>DNI:</b> {{deliveryMan.dni}}</p>
                                    <p><b>Número de paquetes asignados:</b> {{deliveryMan.numPedidos}}</p>
                                    <p><b>Disponibilidad:</b> <ion-badge [color]="getCorrectColor(deliveryMan)">{{deliveryMan.disponibilidad}}</ion-badge></p>
                                    <p *ngIf="deliveryMan.coche"><b>Vehículo asignado:</b> {{deliveryMan.coche}}</p>
                                    <p *ngIf="!deliveryMan.coche"><b>Vehículo asignado:</b> Ninguno</p>
                                    <p *ngIf="deliveryMan.sigDireccion"><b>Siguiente Dirección de reparto:</b> {{deliveryMan.sigDireccion}}</p>
                                </ion-card-content>
                            </ion-col>
                            <ion-col col-2>
                                <button ion-button color="verde" icon-only *ngIf="!deliveryMan.coche" >
                                    <ion-icon name="car"></ion-icon>
                                </button>
                                <button ion-button icon-only (click)="removeCar($event, deliveryMan)" *ngIf="deliveryMan.coche" >
                                    <ion-icon name="close-circle"></ion-icon>
                                </button>
                            </ion-col>

                        </ion-row>
                        
                    </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>    

</ion-content>
